$theme-colors: (
  "priority-high": red,
  "priority-medium": orange,
  "priority-low": skyblue,
  "status-pending": red,
  "status-onhold": rgb(112, 112, 112),
);

@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.container-fluid {
  padding-left: 0;
}

.min-width {
  width: 1%;
  white-space: nowrap;
}

.repair-table {
  td {
    cursor: pointer;
  }
}

.logout-btn {
  cursor: pointer;
}

.login-cover {
  background-image: url("./images/login-cover.png");
  background-size: cover;
  background-position: center;
}