$theme-colors: (
  "priority-high": red,
  "priority-medium": orange,
  "priority-low": skyblue,
);

@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.container-fluid {
  padding-left: 0;
}

.min-width {
  width: 1%;
  white-space: nowrap;
}

.repair-table {
  td {
    cursor: pointer;
  }
}

.logout-btn {
  cursor: pointer;
}